
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}



.reveal.left-top section {
  text-align: left;
}

.reveal.left-top .slides > section:first-child {
  text-align: center;
}

.control {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100px;
  z-index: 1;
  opacity: 0;
  transition: all .8s;
}

.control:hover {
  opacity: 1;
}

.control .iconfont {
  color: #ffffff;
  display: block;
  padding: 16px;
  font-size: 40px;
  cursor: pointer;
}

.menu {
  position: fixed;
  left: 0;
  z-index: 100;
  width: 200px;
  height: 100vh;
  background: #373A41;
  color: #A0A3A9;
  font-size: 13px;
  transform: translateX(-110%);
  transition: transform .3s;
}

.menu .uploader{
  padding: 10px 15px;
}

.menu .uploader input[type='file']{
  display: none;
}
.menu .uploader label{
  color: #ffffff;
  cursor: pointer;
}

.menu.open {
  transform: translateX(0);
}

.menu .icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.menu .icon-close:hover{
  color: #ffffff;
}

.menu .detail {
  padding-top: 40px;
}

.menu .tab.active {
  color: #ffffff;
}

.menu .tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 15px;
}

.menu .tab .iconfont {
  font-size: 12px;
  padding-right: 5px;
}

.menu .content {
  position: absolute;
  left: 200px;
  top: 0;
  height: 100vh;
  width: calc(100vw - 200px);
  background: #445760;
  transform: translateX(300%);
  transition: transform .3s;
  overflow: auto;
}

@media (max-width: 500px) {
  body .menu{
    width: 135px;
  }
  body .menu .content{
    left: 135px;
    width: calc(100vw - 135px);
  }
  .control .iconfont {
    color: #ffffff;
    display: block;
    padding: 16px;
    font-size: 20px;
  }
  .control {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100px;
    z-index: 1;
    opacity: 1;
    transition: all .8s;
  }
}
.menu.open .content.active {
  transform: translateX(0);
}

.menu .content .content-title {
  width: 100%;
  font-size: 50px;
  color: #ffffff;
  padding: 20px 20px;
  border-bottom: 3px solid #ffffff;
}

.menu .content .content-body {
  width: 100%;
}

.menu .content-body textarea {
  resize: none;
  padding: 18px;
  background: #2B373D;
  border: none;
  outline: none;
  width: 100%;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  min-height: 350px;
}

.menu .content-body button {
  background: #2F3133;
  opacity: .4;
  color: #ffffff;
  font-size: 20px;
  margin: 10px 13px;
  padding: 8px 12px;
  cursor: pointer;
}

.menu .content-body button:hover {
  opacity: .8;
}

.menu .theme {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.menu .content-body h4 {
  padding: 20px 25px 10px 35px;
  font-size: 20px;
  color: #ffffff;
}

.menu .theme figure {
  text-align: center;
  padding: 10px 10px;
  border: 4px solid transparent;
  opacity: .7;
  cursor: pointer;
}

.menu .theme figure.selected {
  border: 4px solid #ffffff;
  opacity: 1;
}

.menu .theme figure img {
  width: 145px;
}

.menu .theme figure figcaption {
  padding-top: 5px;
}

.menu .other-options {
  display: flex;
  align-items: center;
}

.menu .transition, .align {
  display: flex;
  align-items: center;
  width: 80px;
  margin-left: 35px;
  margin-top: 10px;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  outline: none;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
}

.menu option {
  background: #445760;
  color: #ffffff;
  border: 1px solid #ffffff;

}
.menu .help p{
  color: #ffffff;
  font-size: 15px;
  padding: 10px 35px;
}
.menu  ul{
  color: #ffffff;
  padding: 0 50px;
}
.menu ul li{
  font-size: 15px;
  padding: 10px 0;
}